<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <title>后台管理</title> -->
    <% if (process.env.NODE_ENV==='production' ) { %>
      <!-- 引入vue的cdn，因为elment依赖vue -->
      <script src=https://cdn.staticfile.org/vue/2.5.22/vue.min.js></script>
   
      <!-- 引入elment样式 -->
      <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
      <!-- 引入elment组件库 -->
      <script src="https://unpkg.com/element-ui/lib/index.js"></script>
      <!-- 引入echarts插件 -->
      <script src="https://cdn.staticfile.org/echarts/4.1.0/echarts.min.js"></script>
      <!-- quill -->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.core.css" />
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.snow.css" />
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.bubble.css" />
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/quill@1.3.7/dist/quill.min.js"></script>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.6/dist/vue-quill-editor.min.js"></script>

      <!-- loash -->
      <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-y/lodash.js/4.17.20/lodash.min.js" type="application/javascript"></script>
      <% } %> 
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
