<template>
  <div class="">
    <div class="login-bg">
      <div class="login-box">
        <div class="login-logo"><img src="../assets/logo.png" alt="" /></div>
        <el-form :model="ruleForm" :rules="rules" ref="loginruleForm" class="demo-ruleForm userform">
          <!-- 账号 -->
          <el-form-item prop="username">
            <el-input prefix-icon="el-icon-user-solid" v-model="ruleForm.username" class="username"></el-input>
          </el-form-item>
          <!-- 密码 -->
          <el-form-item prop="password">
            <el-input prefix-icon="el-icon-lock" v-model="ruleForm.password" type="password" class="userpassword"></el-input>
          </el-form-item>
          <el-form-item class="form-btn">
            <!-- 登录 -->
            <el-button type="primary" @click="submitForm('ruleForm')">登陆</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { mylogin } from '@/api';
export default {
  name: '',
  data() {
    return {
      ruleForm: {
        username: 'admin',
        password: '123456',
      },
      // 验证表单
      rules: {
        username: [
          {
            required: true,
            message: '用户名长度在 3 到 10 个字符',
            trigger: 'blur',
          },
          {
            min: 3,
            max: 10,
            message: '长度在 3 到 10 个字符',
            trigger: 'blur',
          },
        ],
        password: [
          {
            required: true,
            message: '密码长度在 6 到 16 个字符',
            trigger: 'change',
          },
          {
            min: 6,
            max: 16,
            message: '密码长度在 6 到 16 个字符',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  components: {},
  computed: {},
  methods: {
    // 登录验证token
    submitForm() {
      this.$refs.loginruleForm.validate((item) => {
        if (item) {
          mylogin({
            username: this.ruleForm.username,
            password: this.ruleForm.password,
          }).then((res) => {
            if (res.meta.status === 200) {
              //成功的弹窗
              this.$message({
                message: res.meta.msg,
                type: 'success',
              });
              // 先本地存储token
              localStorage.setItem('token', res.data.token);
              // 再跳转路由到首页
              this.$router.push({
                path: '/index',
              });
            } else {
              // 失败的弹窗
              // this.$message({
              //   message: res.meta.msg,
              //   type: "error",
              // });
            }
          });
        }
      });
    },
    resetForm() {
      this.$refs.loginruleForm.resetFields();
    },
  },
};
</script>

<style lang="scss" scoped>
.login-bg {
  height: 100vh;
  background-color: #2b4b6b;
  overflow: hidden;
  .login-box {
    width: 450px;
    height: 300px;
    background-color: #fff;
    margin: auto;
    margin-top: 29vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    .login-logo {
      position: absolute;
      left: 32%;
      top: -70px;
      height: 130px;
      width: 130px;
      border: 1px solid #eee;
      border-radius: 50%;
      padding: 10px;
      box-shadow: 0 0 10px #ddd;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #eee;
      }
    }

    .userform {
      margin-top: 120px;
      padding: 0 20px;
      .username {
        // width: 470px;
      }
    }
    .form-btn {
      margin-left: 260px;
    }
  }
}
</style>
