<template>
  <div class="">
    <!-- 头部 -->
    <header>
      <div class="header-left">
        <img src="../assets/logo.png" />
        <div>爱你一千遍</div>
      </div>
      <el-button type="danger" class="btn" @click="logout">退出</el-button>
    </header>
    <!-- 首页数据 -->

    <section>
      <el-aside :width="isCollapse ? '59px' : '200px'">
        <div class="toggle-button" @click="toggleCollapse">|||</div>
        <el-menu :default-active="countRoute.path" class="el-menu-vertical-demo" unique-opened :collapse="isCollapse" :collapse-transition="false" router>
          <el-submenu :index="item.path" v-for="(item, index) in menusData" :key="item.id">
            <template slot="title">
              <i :class="iconArr[index]"></i>&emsp;
              {{ item.authName }}
            </template>
            <el-menu-item-group v-for="children in item.children" :key="children.id">
              <el-menu-item :index="'/' + children.path"><i class="el-icon-s-operation"></i>{{ children.authName }}</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
        </el-menu>
      </el-aside>

      <!-- 左侧跳转右侧 -->
      <div class="right-flex">
        <router-view></router-view>
      </div>
    </section>
  </div>
</template>

<script>
import { mymenus } from '@/api';
export default {
  name: '',
  data() {
    return {
      menusData: [],
      isCollapse: false, //显示或隐藏侧边栏
      // 左侧图标
      iconArr: ['el-icon-user-solid', 'el-icon-s-tools', 'el-icon-s-goods', 'el-icon-s-order', 'el-icon-s-marketing'],
    };
  },
  components: {},
  computed: {
    countRoute() {
      return this.$route;
    },
  },
  mounted() {
    // 左侧导航数据
    mymenus().then((res) => {
      this.menusData = res.data;
    });
  },
  methods: {
    // 退出  并清楚token
    logout() {
      if (localStorage.getItem('token')) {
        this.$message({
          message: '退出成功',
          type: 'success',
        });
        this.$router.push('/home');
        localStorage.removeItem('token');
        location.reload();
      }
    },

    // 导航菜单
    toggleCollapse() {
      this.isCollapse = !this.isCollapse;
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  height: 60px;
  background-color: #616161;
  display: flex;
  justify-content: space-between;
  .header-left {
    display: flex;
    line-height: 60px;
    color: #fff;
    img {
      width: 60px;
      height: 60px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 50%;
    }
  }
  .btn {
    width: 70px;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
  }
}
section {
  height: calc(100vh -60px);
  display: flex;
  .left {
    width: 200px;
  }
  .right-flex {
    flex: 80%;
  }
}
.item-icon {
  padding: 0 !important;
}
.toggle-button {
  width: 200px;
  background-color: #999999;
  font-size: 10px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}
.el-aside {
  .el-menu {
    border-right: none;
  }
}
/deep/ .el-menu-item-group__title {
  padding: 0;
}
</style>
