<template>
  <div class="">
    <div class="users-box">
      <header>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb
          separator-class="el-icon-arrow-right"
          class="header-title"
        >
          <el-breadcrumb-item :to="{ path: '/MyStart' }"
            >首页</el-breadcrumb-item
          >
          <el-breadcrumb-item>商品管理</el-breadcrumb-item>
          <el-breadcrumb-item v-show="showGoods" :to="{ path: '/goods' }"
            >商品列表</el-breadcrumb-item
          >
          <el-breadcrumb-item>添加商品</el-breadcrumb-item>
        </el-breadcrumb>
      </header>
      <!-- 添加商品 -->
      <el-card class="goods-list">
        <!-- 消息文案 -->
        <el-alert
          title="添加商品信息"
          type="info"
          center
          show-icon
          :closable="false"
        >
        </el-alert>
        <!-- 步骤条 -->

        <!-- 需要到整个表单 -->
        <el-form
          :model="addGoodsRuleForm"
          :rules="addGoodsRules"
          ref="goodsForm"
          label-width="100px"
          label-position="top"
        >
          <el-steps
            :space="200"
            :active="activeIndex - 0"
            finish-status="success"
            align-center
          >
            <el-step title="基本信息"> </el-step>
            <el-step title="商品参数"></el-step>
            <el-step title="商品属性"></el-step>
            <el-step title="商品图片"></el-step>
            <el-step title="商品内容"></el-step>
            <el-step title="完成"></el-step>
          </el-steps>
          <!-- 左侧导航 -->
          <el-tabs
            v-model="activeIndex"
            tab-position="left"
            :before-leave="toSteosNext"
            @tab-click="pitchIndex"
          >
            <el-tab-pane label="基本信息" name="0">
              <!-- 添加商品的表单 -->
              <el-form-item label="商品名称" prop="goods_name">
                <el-input v-model="addGoodsRuleForm.goods_name"></el-input>
              </el-form-item>
              <el-form-item label="商品价格" prop="goods_price">
                <el-input
                  v-model="addGoodsRuleForm.goods_price"
                  type="number"
                ></el-input>
              </el-form-item>
              <el-form-item label="商品重量" prop="goods_weight">
                <el-input
                  v-model="addGoodsRuleForm.goods_weight"
                  type="number"
                ></el-input>
              </el-form-item>
              <el-form-item label="商品数量" prop="goods_number">
                <el-input
                  v-model="addGoodsRuleForm.goods_number"
                  type="number"
                ></el-input>
              </el-form-item>
              <el-form-item label="商品分类" prop="goods_cat">
                <!-- 级联选择器 -->
                <div class="block">
                  <el-cascader
                    v-model="addGoodsRuleForm.goods_cat"
                    :options="goodsListData"
                    :props="goodsProps"
                    @change="handleChange"
                    expand-trigger="hover"
                  ></el-cascader>
                </div>
              </el-form-item>
            </el-tab-pane>
            <el-tab-pane label="商品参数" name="1">
              <!--动态商品参数  -->
              <el-form-item
                :label="item.attr_name"
                v-for="item in manyData"
                :key="item.attr_id"
              >
                <!-- 里面的复选框内容 -->
                <el-checkbox-group v-model="item.attr_vals" border>
                  <el-checkbox
                    border
                    :label="items"
                    v-for="(items, index) in item.attr_vals"
                    :key="index"
                  ></el-checkbox>
                </el-checkbox-group>
              </el-form-item>
            </el-tab-pane>
            <el-tab-pane label="商品属性" name="2">
              <!-- 静态属性 -->
              <el-form-item
                :label="item.attr_name"
                v-for="item in onlyData"
                :key="item.attr_id"
              >
                <!-- 里面的inpu内容 -->
                <el-input v-model="item.attr_vals"></el-input>
              </el-form-item>
            </el-tab-pane>
            <el-tab-pane label="商品图片" name="3">
              <!-- 上传商品的图片 -->
                <el-upload
                  action="http://127.0.0.1:8888/api/private/v1/upload"
                  list-type="picture-card"
                  :on-preview="handlePreview"
                  :on-remove="handleRemove"
                  :headers='headersObj'
                  :on-success="uploadSuccess"
                  multiple
                >
                  <i class="el-icon-plus"></i>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                  <img width="100%" :src="imgUrl" alt="">
                </el-dialog>
              </el-upload>
            </el-tab-pane>
            <el-tab-pane label="商品内容" name="4" style="height:430px">
                <!-- 商品介绍 -->
            <quill-editor v-model="addGoodsRuleForm.goods_introduce" style="height:300px" ></quill-editor>
            <el-button type="primary" @click="addGoods">添加商品</el-button>
            </el-tab-pane>
          </el-tabs>
        </el-form>
      </el-card>
    </div>
  </div>
</template>

<script>
import { getParams, getGoodsParamsMany, getGoodsParamsOnly ,addGoods} from "@/api/goods";
// 深度拷贝插件
import _ from 'lodash';
export default {
  name: "",
  data() {
    return {
      showGoods: true,
      activeIndex: "0",
      // 添加表单
      addGoodsRuleForm: {
        goods_name: "",
        goods_cat: [], // 商品的分类数据
        goods_price: 0,
        goods_number: 0,
        goods_weight: 0,
        goods_introduce: "", //商品介绍
        pics: [], //图片数据
        attrs:[]        
      },
      // 表单验证
      addGoodsRules: {
        goods_name: [
          { required: true, message: "请输入商品信息！", trigger: "blur" },
        ],
        goods_price: [
          { required: true, message: "请输入商品价格！", trigger: "blur" },
        ],
        goods_weight: [
          { required: true, message: "请输入商品重量！", trigger: "blur" },
        ],
        goods_number: [
          { required: true, message: "请输入商品数量！", trigger: "blur" },
        ],
        goods_cat: [
          { required: true, message: "请选择商品分类！", trigger: "blur" },
        ],
      },
      // 级联选择数据
      goodsListData: [],
      goodsProps: {
        label: "cat_name",
        value: "cat_id",
        children: "children",
      },
      // 动态商品参数数据
      manyData: [],
      // 静态属性数据
      onlyData: [],
      // 图片加载token验证
      headersObj: {
        Authorization: localStorage.getItem("token"),
      },
      // 预览图片的路径
      imgUrl: "",
      // 控制预览图片的模态框
      dialogVisible: false,
    };
  },
  created() {
    this.getGoodsList();
  },
  components: {},
  computed: {},
  methods: {
    // 请求数据
    getGoodsList() {
      getParams().then((res) => {
        this.goodsListData = res.data;
      });
    },
    // 级联选择变化触发的函数 只能选择第三个
    handleChange() {
      if (this.addGoodsRuleForm.goods_cat.length !== 3) {
        this.addGoodsRuleForm.goods_cat = [];
      }
    },
    // 如果没有选中商品分类阻止进去别的里面去 自带的事件
    toSteosNext(activeName, oldActiveName) {
      if (
        oldActiveName === "0" &&
        this.addGoodsRuleForm.goods_cat.length !== 3
      ) {
        this.$message.error("请先选择商品分类！");
        return false;
      }
    },
    // 左侧导航的点击事件
    pitchIndex() {
      // 判断是第一个
      if (this.activeIndex === "1") {
        getGoodsParamsMany({
          id: this.addGoodsRuleForm.goods_cat[2],
          sel: "many",
        }).then((res) => {
          this.manyData =res.data;
          // 转数组
          res.data.forEach((item) => {
            item.attr_vals = item.attr_vals.split(" ");
          });
        });
      }
      if (this.activeIndex === "2") {
        getGoodsParamsOnly({
          id: this.addGoodsRuleForm.goods_cat[2],
          sel: "only",
        }).then((res) => {
          this.onlyData = res.data;
        });
      }
    },
    // 上传图片预览的事件
    handlePreview(file) {
      this.imgUrl = file.response.data.url;
      this.dialogVisible = true;
    },
    // 删除图片的事件
    handleRemove(file) {
      let imgPath = file.response.data.tmp_path;

      let _index = this.addGoodsRuleForm.pics.findIndex(
        (item) => item.pic === imgPath
      );

      this.addGoodsRuleForm.pics.splice(_index, 1);
      console.log(this.addGoodsRuleForm);
    },
    //上传成功后的事件
    uploadSuccess(response) {
      let imgPic = {
        pic: response.data.tmp_path,
      };
      this.addGoodsRuleForm.pics.push(imgPic);
    },
    // 添加商品
    addGoods(){
      this.$refs.goodsForm.validate(valid=>{
        if(valid){
       const form = _.cloneDeep(this.addGoodsRuleForm )
         form.goods_cat=form.goods_cat.join(',')
        //  动态参数
        this.manyData.forEach(item=>{
          console.log(item);
          let addMany={
            attr_id:item.attr_id,
            attr_value:item.attr_vals
          }
          this.addGoodsRuleForm.attrs.push(addMany)
        })
         this.onlyData.forEach(item=>{
          let addOnly={
            attr_id:item.attr_id,
            attr_value:item.attr_vals
          }
          this.addGoodsRuleForm.attrs.push(addOnly)
        })
        form.attrs = this.addGoodsRuleForm.attrs
        //  添加商品
          addGoods(form).then(res=>{
              this.$router.push('/goods')
          })
        }
      })
    }
  },
};
</script>

<style lang="scss" scoped>
.users-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
  .goods-list {
    margin-top: 15px;
    .tale-goods {
      margin: 20px 0;
    }
  }
}
.el-steps {
  margin: 15px 0;
}
.el-cascader {
  width: 350px;
}
.el-checkbox {
  margin: 0 10px 10px 10px;
}
.el-button{
  margin-top: 80px;
}
</style>
