<template>
  <div class="">
    <div class="users-box">
      <header>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right" class="header-title">
          <el-breadcrumb-item :to="{ path: '/MyStart' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item>商品管理</el-breadcrumb-item>
          <el-breadcrumb-item>商品分类</el-breadcrumb-item>
        </el-breadcrumb>
      </header>

      <el-card class="goods-list">
        <el-button type="primary" @click="showGoodsModel">添加分类</el-button>
        <!-- 表格 -->
        <el-table :data="goodsData" style="width: 98%;margin-bottom: 20px;" row-key="cat_id" border :tree-props="{ children: 'children', hasChildren: 'hasChildren' }" class="tale-goods">
          <el-table-column type="index" label="#" width="50">
            <template slot-scope="scope">
              {{ scope.row.index }}
            </template>
          </el-table-column>
          <el-table-column prop="cat_name" label="分类名称" width="320"> </el-table-column>
          <el-table-column label="是否有效">
            <template slot-scope="scope">
              <i class="el-icon-circle-check" v-if="scope.row.cat_deleted == false" style="color:yellowgreen"></i>
              <i class="el-icon-circle-close" v-else style="color:red"></i>
            </template>
          </el-table-column>
          <el-table-column label="排序">
            <template slot-scope="scope">
              <el-tag size="mini" v-show="scope.row.cat_level == 0">一级</el-tag>
              <el-tag type="success" size="mini" v-show="scope.row.cat_level == 1">二级</el-tag>
              <el-tag type="warning" size="mini" v-show="scope.row.cat_level == 2">三级</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="primary" icon="el-icon-edit" size="mini" @click="showEditGoods(scope.row)">编辑</el-button>
              <el-button type="danger" icon="el-icon-delete" size="mini" @click="delGoods(scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- <tree-table :data="goodsData" :columns="columns" :selection-type="false" :expand-type="false" show-index index-text="#" border :show-row-hover="true" class="tale-goods">
     
          <template slot="isok" slot-scope="scope">
            <i class="el-icon-circle-check" v-if="scope.row.cat_deleted == false" style="color:yellowgreen"></i>
            <i class="el-icon-circle-close" v-else style="color:red"></i>
          </template>
   
          <template slot="sort" slot-scope="scope">
            <el-tag size="mini" v-show="scope.row.cat_level == 0">一级</el-tag>
            <el-tag type="success" size="mini" v-show="scope.row.cat_level == 1">二级</el-tag>
            <el-tag type="warning" size="mini" v-show="scope.row.cat_level == 2">三级</el-tag>
          </template>
      
          <template slot="opt" slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" size="mini" @click="showEditGoods(scope.row)">编辑</el-button>
            <el-button type="danger" icon="el-icon-delete" size="mini" @click="delGoods(scope.row)">删除</el-button>
          </template>
        </tree-table> -->
        <!-- 分页 -->
        <el-pagination
          @current-change="changePage"
          @size-change="sizeChange"
          :current-page="pagenum"
          :page-sizes="[3, 5, 10]"
          :page-size="pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
          background
          class="page"
        >
        </el-pagination>
      </el-card>

      <!-- 编辑商品的弹框 -->
      <el-dialog title="编辑分类" :visible.sync="editGoodsModel" width="45%">
        <el-form :model="lookGoodsData" status-icon ref="EditRuleForm" label-width="100px" class="demo-ruleForm">
          <el-form-item label="编辑分类">
            <el-input v-model="lookGoodsData.cat_name"></el-input>
          </el-form-item>

          <el-form-item class="add">
            <el-button @click="editGoodsModel = false">取消</el-button>
            <el-button type="primary" @click="addEditGoods('EditRuleForm')">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>

      <!-- 添加分类的弹框 -->
      <el-dialog title="添加分类" :visible.sync="addGoodsModel" width="45%" @close="addGoodsFormClose">
        <el-form :model="addGoodsForm" :rules="addRules" status-icon ref="addRuleForm" label-width="100px" class="demo-ruleForm">
          <el-form-item label="分类名称" prop="cat_name">
            <el-input v-model="addGoodsForm.cat_name"></el-input>
          </el-form-item>
          <el-form-item label="父级分类" width="45%">
            <div class="block">
              <el-cascader :options="GoodsPrendData" :props="changeGodds" clearable v-model="checkGoodsKeys" @change="changeGoodsName"></el-cascader>
            </div>
          </el-form-item>

          <el-form-item class="add">
            <el-button @click="addGoodsModel = false">取消</el-button>
            <el-button type="primary" @click="addGoods('EditRuleForm')">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { getGories, getLookGoods, getEditGoods, getDelGoods, getPrend, getAddGoods } from '@/api/goods';
import { log } from 'util';
import { type } from 'os';
export default {
  name: '',
  data() {
    return {
      type: 3, // 所有级别的分类
      pagenum: 1, // 当前页码值
      pagesize: 5, // 每页显示多少条数据
      total: 0, // 总条数
      goodsData: [], // 商品分类列表数据
      editGoodsModel: false, // 控制编辑的模态框
      lookGoodsData: {}, //查看的数据
      addGoodsModel: false, //控制添加的模态框
      // 添加的表单元素
      addGoodsForm: {
        cat_pid: 0,
        cat_name: '',
        cat_level: 0,
      },
      addRules: {
        cat_name: [{ required: true, message: '请输入分类名称', trigger: 'blur' }],
      },
      // 二级数据
      GoodsPrendData: [],
      // props里面的数据为 获取到二级里面的数据 并绑定
      changeGodds: {
        value: 'cat_id',
        label: 'cat_name',
        children: 'children',
        expandTrigger: 'hover',
        checkStrictly: true,
      },
      // 为级联绑定V-model
      checkGoodsKeys: [],
      // 定义表格
      columns: [
        {
          label: '分类名称',
          prop: 'cat_name',
          width: '300px',
        },
        {
          label: '是否有效',
          // 定义作用域插槽
          type: 'template',
          // 插槽名字
          template: 'isok',
        },
        {
          label: '排序',
          type: 'template',
          template: 'sort',
        },
        {
          label: '操作',
          type: 'template',
          template: 'opt',
        },
      ],
    };
  },
  created() {
    this.getGoodsList();
    this.getPrentType();
  },
  components: {},
  computed: {},
  methods: {
    // 请求列表的函数
    getGoodsList() {
      getGories({
        type: this.type,
        pagenum: this.pagenum,
        pagesize: this.pagesize,
      }).then((res) => {
        this.goodsData = res.data.result;
        // 获取每一行的index
        for (let i = 0; i < this.goodsData.length; i++) {
          this.goodsData[i].index = i + 1;
        }
        this.total = res.data.total;
        this.$message({
          message: '获取商品分类成功',
          type: 'success',
        });
      });
    },
    // 分页
    changePage(i) {
      this.pagenum = i;
      this.getGoodsList();
    },
    sizeChange(i) {
      this.pagesize = i;
      this.getGoodsList();
    },
    // 打开编辑的模态框
    showEditGoods(item) {
      console.log(item);
      this.editGoodsModel = true; // 开启模态框
      // 调用接口并传递值
      getLookGoods({ cat_id: item.cat_id }).then((res) => {
        this.lookGoodsData = res.data;
      });
    },
    // 确定编辑
    addEditGoods() {
      this.$refs.EditRuleForm.validate((valid) => {
        if (valid) {
          getEditGoods(this.lookGoodsData).then((res) => {
            this.getGoodsList(); //调用列表函数
            this.$message({
              //调用小弹框
              message: '更新商品分类成功',
              type: 'success',
            });
            this.editGoodsModel = false; // 关闭模态框
          });
        }
      });
    },
    // 删除
    delGoods(item) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(() => {
          getDelGoods({ id: item.cat_id }).then((res) => {
            item.children = res.data;
            this.getGoodsList(); //调用接口
            this.$message({
              type: 'success',
              message: '删除成功!',
            });
          });
        })
        .catch((err) => {
          return this.$message.info('取消了删除!');
        });
    },
    // 添加分类
    showGoodsModel() {
      // 打开模态框
      this.addGoodsModel = true;
      // 调用二级数据
      this.getPrentType();
    },
    // 获取两层数据
    getPrentType() {
      // 请求接口 申请两级数据
      getPrend({
        type: 2,
      }).then((res) => {
        this.GoodsPrendData = res.data;
      });
    },
    // 处理分类的逻辑
    changeGoodsName() {
      // 如果里面input里有选中的数据
      if (this.checkGoodsKeys.length > 0) {
        // 父级分类的id
        this.addGoodsForm.cat_pid = this.checkGoodsKeys[this.checkGoodsKeys.length - 1];
        this.addGoodsForm.cat_level = this.checkGoodsKeys.length;
        return;
      } else {
        this.addGoodsForm.cat_pid = 0;

        this.addGoodsForm.cat_level = 0;
      }
    },
    // 添加分类
    addGoods() {
      // 添加验证表单
      this.$refs.addRuleForm.validate((valid) => {
        if (valid) {
          // 调用添加的接口
          getAddGoods(this.addGoodsForm).then((res) => {
            this.getGoodsList(); //调用列表接口
            this.addGoodsModel = false; // 关闭模态框
          });
        }
      });
    },
    // 重置表单
    addGoodsFormClose() {
      this.$refs.addRuleForm.resetFields();
      this.checkGoodsKeys = [];
      this.addGoodsForm.cat_pid = 0;
      this.addGoodsForm.cat_level = 0;
    },
  },
};
</script>

<style lang="scss" scoped>
.users-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
  .goods-list {
    margin-top: 15px;
    .tale-goods {
      margin: 20px 0;
    }
  }
}
.add {
  margin-left: 390px;
  margin-top: 50px;
}
.el-cascader {
  width: 545px;
}
</style>
