<template>
  <div class="">
    <div class="users-box">
      <header>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb
          separator-class="el-icon-arrow-right"
          class="header-title"
        >
          <el-breadcrumb-item :to="{ path: '/MyStart' }"
            >首页</el-breadcrumb-item
          >
          <el-breadcrumb-item>商品管理</el-breadcrumb-item>
          <el-breadcrumb-item v-show="showGoods" :to="{ path: '/goods' }"
            >商品列表</el-breadcrumb-item
          >
          <el-breadcrumb-item>添加商品</el-breadcrumb-item>
        </el-breadcrumb>
      </header>

      <!-- 列表 -->
      <div class="tablet-list">
        <div style="margin-top: 15px;">
          <el-input
            placeholder="请输入内容"
            class="input-with-select search"
            v-model="query"
            clearable
            @clear="getGoodsList"
          >
            <el-button
              slot="append"
              icon="el-icon-search"
              @click="getGoodsList"
            ></el-button>
          </el-input>
          <!-- 模态框 -->
          <el-button type="primary" @click="addgoods" class="addbtn"
            >添加商品</el-button
          >
        </div>
        <!-- 表格 -->
        <el-table
          :data="goodsData"
          stripe
          style="width: 97%"
          border
          class="userTable"
        >
          <el-table-column label="#" width="50" type="index"> </el-table-column>
          <el-table-column prop="goods_name" label="商品名称" width="690">
          </el-table-column>
          <el-table-column prop="goods_price" label="商品价格(元)" width="85">
          </el-table-column>
          <el-table-column prop="goods_weight" label="商品重量" width="85">
          </el-table-column>
          <el-table-column prop="dateFormat" label="创建时间" width="155">
            <template slot-scope="scope">
              <span>
                {{ (scope.row.add_time * 1000) | dateFormat }}
              </span>
            </template>
          </el-table-column>
          <!-- 按钮修改组 -->
          <el-table-column prop="address" label="操作">
            <template slot-scope="scope">
              <!-- 编辑 -->
              <el-button
                type="primary"
                icon="el-icon-edit"
                size="mini"
                @click="lookedit(scope.row)"
              ></el-button>
              &nbsp;
              <!-- 删除 -->
              <el-button
                type="danger"
                icon="el-icon-delete"
                size="mini"
                @click="showmodel(scope.row)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination
          @current-change="changePage"
          @size-change="sizeChange"
          :current-page="pagenum"
          :page-sizes="[3, 5, 10]"
          :page-size="pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
          background
          class="page"
        >
        </el-pagination>

        <!-- 删除得模态框 -->
        <el-dialog
          title="提示"
          :visible.sync="delmodel"
          width="30%"
          class="title-model-del"
        >
          <div class="title-del">
            <div>
              <i class="el-message-box__status el-icon-warning icon-error"></i>
            </div>
            <div class="title-text">
              此操作将永久删除该用户信息, 是否继续?
            </div>
          </div>

          <span slot="footer" class="dialog-footer">
            <el-button @click="delmodel = false">取 消</el-button>
            <el-button type="primary" @click="del">确 定</el-button>
          </span>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<script>
// 接口
import { getGoodsList, delGoods } from "@/api/goods";
// 正则
import { isvalidPhone } from "@/regular";
export default {
  name: "",
  data() {
    return {
      query: "", //路由传参 搜索
      pagenum: 1, //路由传参 分页
      pagesize: 5, //路由传参 分页
      total: 0, // 总条数  分页
      goodsData: [], // 接收用户列表数据
      dialogVisible: false, //是否显示模态框
      delmodel: false, //删除的模态框

      // 删除商品id
      goodsID: "",
      // 显示商品列表
      showGoods: false,
      // 查看商品的对象
      lookGoods: {},
    };
  },
  mounted() {
    // 调用请求接口
    this.getGoodsList();
  },
  components: {},
  computed: {},
  methods: {
    // 分页
    changePage(val) {
      this.pagenum = val;
      this.getGoodsList();
    },
    // 下面点击的分页
    sizeChange(num) {
      this.pagesize = num;
      this.getGoodsList();
    },
    // 请求列表数据
    getGoodsList() {
      getGoodsList({
        query: this.query,
        pagenum: this.pagenum,
        pagesize: this.pagesize,
      }).then((res) => {
        this.goodsData = res.data.goods;
        this.total = res.data.total;
        this.$message({
          message: "获取用户数据成功",
          type: "success",
        });
      });
    },
    // 删除商品
    showmodel(id) {
      this.delmodel = true;
      this.goodsID = id.goods_id;
    },
    // 删除
    del() {
      delGoods({ id: this.goodsID }).then((res) => {
        this.getGoodsList();
        this.$message({
          message: "删除用户成功",
          type: "success",
        });
        this.delmodel = false;
      });
    },
    lookedit(item) {
      this.lookGoods = item;
    },
    // 添加商品
    addgoods() {
      this.$router.push("/addgoods");
      this.showGoods = !this.showGoods;
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  .header-title {
  }
}
.users-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
}
.tablet-list {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  .search {
    width: 390px;
  }
}
.userTable {
  margin-top: 15px;
}
.page {
  margin-top: 15px;
}
.addbtn {
  margin-left: 15px;
}
.addModel-btn {
  margin-left: 469px;
}
.title-del {
  display: flex;
}
.icon-error {
  display: block;
  padding-right: 80px;
}
.title-text {
  margin-left: 40px;
  margin-top: 15px;
}
.title-model-del {
}
</style>
