<template>
  <div class="">
    <div class="start-box">
      <div class="header-box">
        <div>
          Welcome!
        </div>
        <h1>欢迎来到。。。。。。。呃！</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {};
  },
  components: {},
  computed: {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.start-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  color: #6cf;
  font-size: 30px;
  overflow: hidden;
}
.header-box {
  text-align: center;
  margin-top: 150px;
  h1 {
    margin-top: 100px;
  }
}
</style>
