<template>
  <div class="">
    <div class="users-box">
      <header>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right" class="header-title">
          <el-breadcrumb-item :to="{ path: '/MyStart' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item>订单管理</el-breadcrumb-item>
          <el-breadcrumb-item>订单列表</el-breadcrumb-item>
        </el-breadcrumb>
      </header>
      <!-- 列表 -->
      <el-card class="goods-list">
        <!-- 搜索 -->
        <div style="margin-top: 15px;">
          <el-input placeholder="请输入内容" class="input-with-select search" v-model="ordersForm.query" clearable @clear="getOrdersList">
            <el-button slot="append" icon="el-icon-search" @click="getOrdersList"></el-button>
          </el-input>
        </div>
        <!-- 列表 -->
        <el-table :data="ordersData" style="width: 100%" border stripe>
          <el-table-column type="index" label="#" width="60"> </el-table-column>
          <el-table-column prop="order_number" label="订单编号" width="266"> </el-table-column>
          <el-table-column prop="order_price" label="订单价格" width="180"> </el-table-column>
          <el-table-column prop="pay_status" label="是否付款" width="180">
            <template slot-scope="scope">
              <el-tag effect="dark" size="mini" v-if="scope.row.pay_status === '0'">
                已付款
              </el-tag>
              <el-tag effect="dark" type="danger" size="mini" v-else>
                未付款
              </el-tag>
            </template>
          </el-table-column>
          <el-table-column prop="is_send" label="是否发货" width="180"> </el-table-column>
          <el-table-column prop="update_time" label="下单时间" width="210">
            <template slot-scope="scope">
              <span>
                {{ (scope.row.update_time * 1000) | dateFormat }}
              </span>
            </template>
          </el-table-column>
          <el-table-column prop="address" label="操作" width="120">
            <template slot-scope="scope">
              <el-button type="primary" icon="el-icon-edit" size="mini" @click="showEditModel(scope.row)"></el-button>
              <el-button type="success" size="mini" icon="el-icon-location" @click="logistics"></el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination
          @current-change="changePage"
          @size-change="sizeChange"
          :current-page="ordersForm.pagenum"
          :page-sizes="[3, 5, 10]"
          :page-size="ordersForm.pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
          background
          class="page"
        >
        </el-pagination>
      </el-card>

      <!-- 修改地址 -->

      <el-dialog title="修改地址" :visible.sync="editModel" width="50%" @close="emptyForm">
        <el-form :model="addressForm" ref="addressRule" :rules="addressRules" label-width="100px" class="demo-ruleForm">
          <el-form-item label="省市区/县" prop="city">
            <el-cascader v-model="addressForm.city" :options="cityOptions" :props="cityName" hover></el-cascader>
          </el-form-item>
          <el-form-item label="详细地址" prop="address">
            <el-input v-model="addressForm.address" class="inp"></el-input>
          </el-form-item>
          <el-form-item class="btn-form">
            <el-button @click="editModel = false">取消</el-button>
            <el-button type="primary" @click="editaddress">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>

      <!-- 物流信息 -->
      <el-dialog title="物流进度" :visible.sync="logisticsModel" width="55%">
        <!-- 时间线 -->
        <el-timeline>
          <el-timeline-item v-for="(activity, index) in logisticsData" :key="index" :icon="icon" :size="size" :color="index == 0 ? colors : ''" :timestamp="activity.time">
            {{ activity.context }}
          </el-timeline-item>
        </el-timeline>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { getorders, lookorders, lookkuaidi } from '@/api/orders';
import cityOptions from '@/assets/city_data';
export default {
  name: '',
  data() {
    return {
      // 请求订单列表
      ordersForm: {
        query: '',
        pagenum: 1,
        pagesize: 10,
        user_id: '',
        pay_status: '',
        is_send: '',
        order_fapiao_title: '',
        order_fapiao_company: '',
        order_fapiao_content: '',
        consignee_addr: '',
      },
      // 总条数
      total: 0,
      // 订单列表数据
      ordersData: [],
      editModel: false, // 地址模态框
      logisticsModel: false,
      // 查看订单详情
      addressForm: {
        city: [],
        address: '',
      },
      // 表单验证
      addressRules: {
        city: [{ required: true, message: '请选择省市区/县', trigger: 'blur' }],
        address: [{ required: true, message: '请输入详细地址', trigger: 'blur' }],
      },
      // 引入城市地区的数据
      cityOptions: cityOptions,
      // 定义联级选择器的属性
      cityName: {
        value: 'n',
        label: 'n',
        children: 's',
        expandTrigger: 'hover',
      },
      logisticsData: [],
      icon: 'el-icon-location',
      colors: '#67c23a',
      size: 'large',
    };
  },
  created() {
    this.getOrdersList();
  },
  components: {},
  computed: {},
  methods: {
    // 请求数据
    getOrdersList() {
      getorders(this.ordersForm).then((res) => {
        this.ordersData = res.data.goods;
        this.total = res.data.total;
        this.$message({
          message: '获取订单列表成功！',
          type: 'success',
        });
      });
    },
    // 分页
    changePage(num) {
      this.ordersForm.pagenum = num;
      this.getOrdersList();
    },
    sizeChange(size) {
      this.ordersForm.pagesize = size;
      this.getOrdersList();
    },
    //  打开模态框
    showEditModel() {
      this.editModel = true;
    },
    // 关闭模态框 清空表单
    emptyForm() {
      this.$refs.addressRule.resetFields();
    },
    editaddress() {},
    // 打开物流模态框
    logistics() {
      this.logisticsModel = true;
      axios.get('logistics.json').then((res) => {
        this.logisticsData = res.data.data;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.users-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
  .goods-list {
    margin-top: 15px;
    padding: 20px;
  }
}
.el-input {
  width: 380px;
}
.el-table {
  margin: 20px 0;
}
.el-cascader {
  width: 620px;
}
.inp {
  width: 620px;
}
.btn-form {
  margin: 50px 0 0 469px;
}
</style>
