<template>
  <div class="">
    <div class="users-box">
      <header>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb
          separator-class="el-icon-arrow-right"
          class="header-title"
        >
          <el-breadcrumb-item :to="{ path: '/MyStart' }"
            >首页</el-breadcrumb-item
          >
          <el-breadcrumb-item>商品管理</el-breadcrumb-item>
          <el-breadcrumb-item>商品分类</el-breadcrumb-item>
        </el-breadcrumb>
      </header>
      <!-- 可视化区域 -->
      <el-card class="goods-list">
        <!-- 警告 -->
        <el-alert
          title="注意：只允许为第三级分类设置相关参数！"
          type="warning"
          show-icon
          :closable="false"
        >
        </el-alert>
        <!-- 选中三级分类 -->
        <div class="block">
          <span class="demonstration">选择商品分类: </span>
          <el-cascader
            v-model="paramsKeys"
            :options="paramsList"
            :props="paramsProps"
            @change="handleChange"
          ></el-cascader>
        </div>
        <!-- 列表标签 -->
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="动态参数" name="many">
            <!-- 添加动态参数 -->
            <el-button
              class="btn"
              type="primary"
              size="mini"
              :disabled="btnDisabled"
              @click="dialogVisible = true"
              >动态参数</el-button
            >
            <!-- 动态表格 -->
            <el-table :data="manyData" border>
              <!-- 展开行 -->
              <el-table-column type="expand" width="50">
                <template slot-scope="scope">
                  <div class="table-tag">
                    <el-tag
                      v-for="(tag, i) in scope.row.attr_vals"
                      :key="i"
                      closable
                      @close="delTag(i, scope.row)"
                    >
                      {{ tag }}
                    </el-tag>
                    <!-- 动态编辑标签 -->
                    <el-input
                      class="input-new-tag"
                      v-if="scope.row.inputVisible"
                      v-model="scope.row.inputValue"
                      ref="saveTagInput"
                      size="small"
                      @keyup.enter.native="handleInputConfirm(scope.row)"
                      @blur="handleInputConfirm(scope.row)"
                    >
                    </el-input>
                    <el-button
                      v-else
                      class="button-new-tag"
                      size="small"
                      @click="showInput(scope.row)"
                      >+ New Tag</el-button
                    >
                  </div>
                </template>
              </el-table-column>
              <!-- 排序行 -->
              <el-table-column label="#" width="50" type="index">
              </el-table-column>
              <el-table-column label="参数名称" width="550" prop="attr_name">
              </el-table-column>
              <el-table-column label="操作" width="586">
                <!--修改和删除 -->
                <template slot-scope="scope">
                  <el-button
                    type="primary"
                    size="mini"
                    icon="el-icon-edit"
                    @click="showParamsModel(scope.row.attr_id)"
                    >修改</el-button
                  >
                  <el-button
                    type="danger"
                    size="mini"
                    icon="el-icon-delete"
                    @click="delParams(scope.row.attr_id)"
                    >删除</el-button
                  >
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="静态属性" name="only">
            <!-- 添加静态参数 -->
            <el-button
              class="btn"
              type="primary"
              size="mini"
              :disabled="btnDisabled"
              @click="dialogVisible = true"
              >静态属性</el-button
            >
            <!-- 静态表格 -->
            <el-table :data="onlyData" border>
              <!-- 展开行 -->
              <el-table-column type="expand" width="50">
                <template slot-scope="scope">
                  <div class="table-tag">
                    <el-tag
                      v-for="(tag, i) in scope.row.attr_vals"
                      :key="i"
                      closable
                      @close="delTag(i, scope.row)"
                    >
                      {{ tag }}
                    </el-tag>
                    <!-- 动态编辑标签 -->
                    <el-input
                      class="input-new-tag"
                      v-if="scope.row.inputVisible"
                      v-model="scope.row.inputValue"
                      ref="saveTagInput"
                      size="small"
                      @keyup.enter.native="handleInputConfirm(scope.row)"
                      @blur="handleInputConfirm(scope.row)"
                    >
                    </el-input>
                    <el-button
                      v-else
                      class="button-new-tag"
                      size="small"
                      @click="showInput(scope.row)"
                      >+ New Tag</el-button
                    >
                  </div>
                </template>
              </el-table-column>
              <!-- 排序行 -->
              <el-table-column label="#" width="50" type="index">
              </el-table-column>
              <el-table-column label="属性名称" width="550" prop="attr_name">
              </el-table-column>
              <el-table-column label="操作" width="586">
                <!--修改和删除 -->
                <template slot-scope="scope">
                  <el-button
                    type="primary"
                    size="mini"
                    icon="el-icon-edit"
                    @click="showParamsModel(scope.row.attr_id)"
                    >修改</el-button
                  >
                  <el-button
                    type="danger"
                    size="mini"
                    icon="el-icon-delete"
                    @click="delParams(scope.row.attr_id)"
                    >删除</el-button
                  >
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </el-card>

      <!-- 添加动态或者静态的模态框 -->
      <el-dialog
        :title="'添加' + countText"
        :visible.sync="dialogVisible"
        @close="addFormClose"
        width="40%"
      >
        <el-form
          label-width="80px"
          :model="addForm"
          ref="addRefForm"
          :rules="addRules"
        >
          <el-form-item :label="countText" prop="attr_name">
            <el-input v-model="addForm.attr_name"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="addParams">确 定</el-button>
        </span>
      </el-dialog>
      <!-- 编辑修改的模态框 -->
      <el-dialog
        :title="'修改' + countText"
        :visible.sync="ebitParamsModel"
        width="40%"
      >
        <el-form
          label-width="80px"
          :model="ebitForm"
          ref="ebitRefForm"
          :rules="ebitRules"
        >
          <el-form-item :label="countText" prop="attr_name">
            <el-input v-model="ebitForm.attr_name"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="ebitParamsModel = false">取 消</el-button>
          <el-button type="primary" @click="ebitParams">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import {
  getParams,
  getAttributes,
  getAddAttributes,
  getLookParams,
  getSubmitParams,
  getDeltParams,
  getTagList,
} from "@/api/goods";
export default {
  name: "",
  data() {
    return {
      // 所有列表的属性
      paramsList: [],
      // 配置级联选择器
      paramsProps: {
        value: "cat_id",
        label: "cat_name",
        children: "children",
        expandTrigger: "hover",
      },
      // 配置级联选择框的v-model
      paramsKeys: [],
      // 默认激活标签页
      activeName: "many",
      // 禁用按钮
      btnDisabled: true,
      // 动态参数
      manyData: [],
      // 静态属性
      onlyData: [],
      // 添加的模态框
      dialogVisible: false,
      // 添加的表单
      addForm: {
        attr_name: "",
      },
      // 表单验证
      addRules: {
        attr_name: [
          { required: true, message: "此选项不能为空！", trigger: "blur" },
        ],
      },
      // 编辑的模态框
      ebitParamsModel: false,
      // 编辑的表单
      ebitForm: {
        attr_name: "",
      },
      // 编辑表单的验证
      ebitRules: {
        attr_name: [
          { required: true, message: "此选项不能为空！", trigger: "blur" },
        ],
      },
      // 控制动态标签
      inputVisible: false,
      //  动态标签输入的内容
      inputValue: "",
    };
  },
  created() {
    this.getParamsList();
  },
  components: {},
  computed: {
    // 计算一个文本框名称
    countText() {
      if (this.activeName === "many") {
        return "动态参数";
      }
      return "静态属性";
    },
  },
  methods: {
    // 请求数据
    getParamsList() {
      getParams().then((res) => {
        this.paramsList = res.data;
      });
    },
    // 选择框发生变化就会触发
    handleChange() {
      // 直接选中第三级的分类 不等于就清空
      if (this.paramsKeys.length !== 3) {
        this.paramsKeys = [];
        this.onlyData = [];
        this.manyData = [];
        // 顺便判断按钮
        this.btnDisabled = true;
        return;
      }
      // 顺便判断按钮
      if (this.paramsKeys.length === 3) {
        this.btnDisabled = false;
      }
      getAttributes({
        id: this.paramsKeys[2],
        sel: this.activeName,
      }).then((res) => {
        this.$message({
          message: "获取参数列表成功！",
          type: "success",
        });
        // 把数据分割成数组
        res.data.forEach((item) => {
          item.attr_vals = item.attr_vals ? item.attr_vals.split(" ") : [];
          // 添加数据 控制文本框
          item.inputVisible = false;
          // 输入的值
          item.inputValue = "";
        });
        console.log(res);

        // 判断是那个动态或静态的数据
        if (this.activeName === "many") {
          this.manyData = res.data;
        } else {
          this.onlyData = res.data;
        }
      });
    },
    // 列表点击事件
    handleClick() {
      this.handleChange(); //每次点击请求一次数据
    },
    // 重置清空表单
    addFormClose() {
      this.$refs.addRefForm.resetFields();
    },
    // 添加参数 this.paramsKeys[2],为那个分类的id 级联  attrId属于那一条数据的id
    addParams() {
      this.$refs.addRefForm.validate((valid) => {
        if (valid) {
          getAddAttributes({
            id: this.paramsKeys[2],
            attr_name: this.addForm.attr_name,
            attr_sel: this.activeName,
          }).then((res) => {
            // 成功小弹框
            this.$message({
              message: res.meta.msg,
              type: "success",
            });
            this.handleChange(); //调用更新数据的接口
            this.dialogVisible = false; //关闭模态框
          });
        }
      });
    },
    // 删除参数 传递id删除  this.paramsKeys[2],为那个分类的id 级联  attrId属于那一条数据的id
    delParams(id) {
      this.$confirm("此操作将永久删除该参数/属性, 是否继续??", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          getDeltParams({ id: this.paramsKeys[2], attrid: id }).then((res) => {
            this.$message({
              type: "success",
              message: "删除成功!",
            });
            this.handleChange(); //调用更新数据的接口
          });
        })
        .catch((err) => {
          return this.$message.info("取消了删除!");
        });
    },
    // 修改打开模态框  this.paramsKeys[2],为那个分类的id 级联  attrId属于那一条数据的id
    showParamsModel(attrId) {
      getLookParams({
        id: this.paramsKeys[2],
        attrId: attrId,
        attr_sel: this.activeName,
      }).then((res) => {
        this.ebitForm = res.data; //编辑的表单
      });
      this.ebitParamsModel = true;
    },
    // 确定修改参数  this.paramsKeys[2],为那个分类的id 级联  attrId属于那一条数据的id
    ebitParams() {
      this.$refs.ebitRefForm.validate((valid) => {
        if (valid) {
          getSubmitParams({
            id: this.paramsKeys[2],
            attrId: this.ebitForm.attr_id,
            attr_name: this.ebitForm.attr_name,
            attr_sel: this.activeName,
          }).then((res) => {
            this.handleChange(); //调用更新数据的接口
            this.ebitParamsModel = false; //关闭模态框
          });
        }
      });
    },
    // 回车触发的标签切换文本和按钮
    handleInputConfirm(item) {
      // 去除空格
      if (item.inputValue.trim().length === 0) {
        item.inputValue = "";
        item.inputVisible = false;
        return;
      }
      item.attr_vals.push(item.inputValue.trim());
      item.inputValue = "";
      item.inputVisible = false;
      this.getTagList(item);
    },
    // 方便调用tag修改删除添加函数
    getTagList(item) {
      getTagList({
        id: this.paramsKeys[2],
        attrId: item.attr_id,
        attr_name: item.attr_name,
        attr_sel: item.attr_sel,
        attr_vals: item.attr_vals.join(" "),
      }).then((res) => {
        this.$message({
          message: "修改参数项成功！",
          type: "success",
        });
      });
    },
    // 点击动态标签按钮 文本框
    showInput(item) {
      item.inputVisible = true;
      this.$nextTick((_) => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },

    // 删除tag
    delTag(i, item) {
      item.attr_vals.splice(i, 1);
      this.getTagList(item);
    },
  },
};
</script>

<style lang="scss" scoped>
.users-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
  .goods-list {
    margin-top: 15px;
    .tale-goods {
      margin: 20px 0;
    }
    .block {
      margin-top: 20px;
    }
  }
}
.input-new-tag {
  width: 100px;
}
.table-tag {
  margin-left: 40px;
  .el-tag {
    margin: 10px;
  }
}
.btn {
  margin-bottom: 20px;
}
</style>
