<template>
  <div class="">
    <div class="users-box">
      <header>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb
          separator-class="el-icon-arrow-right"
          class="header-title"
        >
          <el-breadcrumb-item :to="{ path: '/MyStart' }"
            >首页</el-breadcrumb-item
          >
          <el-breadcrumb-item>数据统计</el-breadcrumb-item>

          <el-breadcrumb-item>数据报表</el-breadcrumb-item>
        </el-breadcrumb>
      </header>
      <!-- 绘图 -->
      <el-card class="goods-list">
        <div id="main" style="width: 900px;height:500px;"></div>
      </el-card>
    </div>
  </div>
</template>

<script>
import { getReports } from "@/api/orders";
// 引入echarts
import * as echarts from "echarts";
import _ from "lodash";
export default {
  name: "",
  data() {
    return {
      // 对象合并 深度合并
      options: {
        title: {
          text: "用户来源",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#E9EEF3",
            },
          },
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: [
          {
            boundaryGap: false,
          },
        ],
        yAxis: [
          {
            type: "value",
          },
        ],
      },
    };
  },
  mounted() {
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById("main"));
    // 绘制图表
    getReports().then((res) => {
      // const reportsList = { ...this.options, ...res.data };
      // const reportsList = Object.assign({}, this.options, res.data);
      // 需要深度拷贝
      const reportsList = _.merge(res.data, this.options);
      myChart.setOption(reportsList);
    });
  },
  components: {},
  computed: {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.users-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
  .goods-list {
    margin-top: 15px;
  }
}
</style>
