<template>
  <div class="">
    <div class="roles-box">
      <!-- 面包屑导航区域 -->
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/MyStart' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        <el-breadcrumb-item>权限列表</el-breadcrumb-item>
      </el-breadcrumb>

      <!--列表视图 -->
      <el-card class="right-box">
        <el-table :data="rightsList" stripe style="width: 98%" border>
          <el-table-column label="#" width="50" type="index"> </el-table-column>
          <el-table-column prop="authName" label="权限名称" width="380"> </el-table-column>
          <el-table-column prop="path" label="路径" width="380"> </el-table-column>
          <el-table-column label="权限等级">
            <template slot-scope="scope">
              <el-tag v-show="scope.row.level == 0">一级权限</el-tag>
              <el-tag v-show="scope.row.level == 1" type="success">二级权限</el-tag>
              <el-tag v-show="scope.row.level == 2" type="warning">三级权限</el-tag>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </div>
  </div>
</template>

<script>
// api 接口
import { getrightsList } from '@/api/roles';
export default {
  name: '',
  data() {
    return {
      rightsList: [],
    };
  },
  mounted() {
    getrightsList().then((res) => {
      console.log('list', res);
      this.rightsList = res.data;
    });
  },
  components: {},
  computed: {},
  methods: {
    // list 转tree 调用函数
    listToTree(list, parentIp = null) {
      return list
        .filter((item) => item.parentIp === parentIp)
        .map((item) => ({
          ...item,
          children: listToTree(list, item.ip),
        }));
    },

    // tree转list
    treeToArray(list, newArr = []) {
      list.forEach((item) => {
        const { children } = item;
        if (children) {
          delete item.children;

          if (children.length) {
            newArr.push(item);
            return treeToArray(children, newArr);
          }
        }
        newArr.push(item);
      });
      return newArr;
    },
  },
};
</script>

<style lang="scss" scoped>
.roles-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
  .right-box {
    margin-top: 20px;
    padding: 20px;
    .right-table {
      margin-top: 20px;
    }
  }
}
</style>
