<template>
  <div class="">
    <div class="roles-box">
      <!-- 面包屑导航区域 -->
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/MyStart' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        <el-breadcrumb-item>角色列表</el-breadcrumb-item>
      </el-breadcrumb>

      <!-- 列表视图 -->
      <el-card class="right-box">
        <el-button type="primary" @click="addRolesModel = true">添加角色</el-button>
        <!-- 添加角色的模态框 -->
        <el-dialog title="添加角色" :visible.sync="addRolesModel" width="40%">
          <el-form label-width="100px" class="demo-ruleForm" ref="addRolesForm" :model="rolesForm" :rules="addFormRules">
            <el-form-item label="角色名称" prop="roleName">
              <el-input v-model="rolesForm.roleName"></el-input>
            </el-form-item>
            <el-form-item label="角色描述" prop="roleDesc">
              <el-input v-model="rolesForm.roleDesc"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button @click="addRolesModel = false">取消</el-button>
              <el-button type="primary" @click="addform('addRolesForm')">确定</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>

        <!--  列表-->
        <el-table :data="rolesList" style="width: 98%" class="right-table" border>
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand children-box">
                <!-- 一级 -->
                <div v-for="item in props.row.children" :key="item.id" class="children-list">
                  <!-- 一级内容 -->
                  <div class="children-one el-col-5">
                    <el-tag closable @close="onceDel(props.row, item.id)">
                      {{ item.authName }}
                    </el-tag>
                    <i class="el-icon-caret-right"></i>
                  </div>
                  <!-- 二级 -->
                  <div class="two-box el-col-19">
                    <div class="children-two" v-for="towitem in item.children" :key="towitem.id">
                      <!-- 二级内容 -->
                      <div class="el-col el-col-6">
                        <el-tag closable type="success" @close="twoDel(props.row, towitem.id)">
                          {{ towitem.authName }}
                        </el-tag>
                        <i class="el-icon-caret-right"></i>
                      </div>
                      <div class="three-box el-col el-col-18">
                        <div class="children-three" v-for="threeitem in towitem.children" :key="threeitem.id">
                          <!-- 三级内容 -->
                          <div>
                            <el-tag closable type="warning" @close="threeDel(props.row, threeitem.id)">
                              {{ threeitem.authName }}
                            </el-tag>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                </div>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column label="#" width="50" type="index"> </el-table-column>
          <el-table-column label="角色名称" prop="roleName"> </el-table-column>
          <el-table-column label="角色描述" prop="roleDesc"> </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="primary" icon="el-icon-edit" class="el-button--mini" @click="lookUser(scope.row)">编辑</el-button>
              <el-button type="danger" icon="el-icon-delete" class="el-button--mini" @click="delModel = true">删除</el-button>
              <!-- 删除的模态框 -->
              <el-dialog title="提示" :visible.sync="delModel" width="30%">
                <div class="title-del">
                  <div>
                    <i class="el-message-box__status el-icon-warning icon-error"></i>
                  </div>
                  <div class="title-text">
                    此操作将永久删除该用户信息, 是否继续?
                  </div>
                </div>

                <span slot="footer" class="dialog-footer">
                  <el-button @click="delModel = false">取 消</el-button>
                  <el-button type="primary" @click="del(scope.row)">确 定</el-button>
                </span>
              </el-dialog>
              &nbsp;
              <el-button type="warning" icon="el-icon-setting" class="el-button--mini" @click="showAllation(scope.row)">分配权限</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-card>

      <!-- 查看并修改的模态框 -->
      <el-dialog title="修改角色" :visible.sync="lookUserModel" width="40%">
        <el-form label-width="100px" class="demo-ruleForm" ref="editRolesForm" :model="editObj" :rules="editFormRules">
          <el-form-item label="角色名称" prop="roleName">
            <el-input v-model="editObj.roleName"></el-input>
          </el-form-item>
          <el-form-item label="角色描述" prop="roleDesc">
            <el-input v-model="editObj.roleDesc"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button @click="lookUserModel = false">取消</el-button>
            <el-button type="primary" @click="confirmEdit('addRolesForm')">确定</el-button>
          </el-form-item>
        </el-form>
      </el-dialog>

      <!-- 分配权限 -->
      <el-dialog title="分配权限" :visible.sync="showAllocation" width="50%">
        <el-tree :data="rightsList" :props="treeProps" default-expand-all show-checkbox node-key="id" :default-checked-keys="childrenKeys" ref="treeRef" @close="setChildren"></el-tree>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showAllocation = false">取 消</el-button>
          <el-button type="primary" @click="userAssigning">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
// api 接口
import { getroles, addRoles, lookRoles, editRoles, delRoles, getrights, getPower, delAssignRoles } from '@/api/roles';

export default {
  name: '',
  data() {
    return {
      rolesList: [], //角色列表的数据
      addRolesModel: false, //添加的模态框
      lookUserModel: false, //查看的模态框
      delModel: false, //删除的模态框
      showAllocation: false, //分配权限的模态框
      // 添加的表单
      rolesForm: {
        roleName: '', //角色名称
        roleDesc: '', // 角色描述
      },
      // 验证
      addFormRules: {
        roleName: [
          { required: true, message: '请输入角色名', trigger: 'blur' },
          {
            min: 3,
            max: 10,
            message: '角色名的长度在3-10',
            trigger: 'blur',
          },
        ],
        roleDesc: [
          { required: true, message: '请输入角色描述', trigger: 'blur' },
          {
            min: 3,
            max: 20,
            message: '角色描述的长度在3-20',
            trigger: 'blur',
          },
        ],
      },
      editFormRules: {
        roleName: [
          { required: true, message: '请输入角色名', trigger: 'blur' },
          {
            min: 2,
            max: 10,
            message: '角色名的长度在2-10',
            trigger: 'blur',
          },
        ],
        roleDesc: [
          { required: true, message: '请输入角色描述', trigger: 'blur' },
          {
            min: 2,
            max: 20,
            message: '角色描述的长度在2-20',
            trigger: 'blur',
          },
        ],
      },
      // 每一个用户的信息
      editObj: {},
      // 权限列表
      rightsList: [],
      // tree 树状结构
      treeProps: {
        label: 'authName',
        children: 'children',
      },
      // 默认选中
      childrenKeys: [],
      // 保存id
      keyID: '',

      // 角色ID
      rolesID: '',
    };
  },
  created() {
    // 调用角色列表的接口
    this.getRolesList();
  },
  mounted() {},
  components: {},
  computed: {},
  methods: {
    // 角色列表的方法接口
    getRolesList() {
      getroles({
        roleName: this.roleName,
        roleDesc: this.roleDesc,
      }).then((res) => {
        this.rolesList = res.data;
        this.$message({
          message: '获取角色列表成功！',
          type: 'success',
        });
      });
    },
    // 添加角色
    addform() {
      this.$refs.addRolesForm.validate((valid) => {
        if (valid) {
          addRoles(this.rolesForm).then((res) => {
            this.getRolesList(); //调用接口
            this.addRolesModel = false; //关闭模态框
          });
        }
      });
    },
    // 查看用户
    lookUser(id) {
      lookRoles(id.id).then((res) => {
        this.lookUserModel = true;
        this.editObj = res.data;
      });
    },
    // 修改角色
    confirmEdit() {
      this.$refs.editRolesForm.validate((valid) => {
        if (valid) {
          editRoles(this.editObj).then((res) => {
            this.getRolesList(); //调用接口
            this.lookUserModel = false; //关闭模态框
          });
        }
      });
    },

    // 删除角色
    del(id) {
      delRoles(id.id).then((res) => {
        this.getRolesList(); //调用接口
        this.delModel = false; //关闭模态框
        this.$message({
          message: '删除角色成功',
          type: 'success',
        });
      });
    },
    // 打开分配权限模态框并获取数据
    showAllation(id) {
      this.keyID = id.id;
      getrights().then((res) => {
        console.log('tree', res);
        this.rightsList = res.data;
        this.showAllocation = true;
        this.getRightsKey(id, this.childrenKeys);
      });
    },
    // 分配权限
    userAssigning() {
      // 每一个选中的id
      const keys = [...this.$refs.treeRef.getCheckedKeys(), ...this.$refs.treeRef.getHalfCheckedKeys()];

      const str = keys.join(',');
      getPower({
        roleId: this.keyID,
        rids: str,
      }).then((res) => {
        this.$message({
          message: '分配权限成功',
          type: 'success',
        });
        this.getRolesList();
        this.showAllocation = false;
      });
    },
    //递归
    getRightsKey(ind, arr) {
      if (!ind.children) {
        return arr.push(ind.id);
      }
      ind.children.forEach((item) => this.getRightsKey(item, arr));
    },
    // 清空数组
    setChildren() {
      this.childrenKeys = [];
    },
    // 一级删除
    onceDel(item, id) {
      console.log(11, item);
      console.log(22, id);
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(() => {
          delAssignRoles({
            roleId: item.id,
            rids: id,
          }).then((res) => {
            item.children = res.data; // 更新res.data和children里面得数据
          });
          this.$message({
            type: 'success',
            message: '删除成功!',
          });
        })
        .catch((err) => {
          return this.$message.info('取消了删除!');
        });
    },
    // 二级删除
    twoDel(item, id) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(() => {
          delAssignRoles({
            roleId: item.id,
            rids: id,
          }).then((res) => {
            item.children = res.data; // 更新res.data和children里面得数据
          });
          this.$message({
            type: 'success',
            message: '删除成功!',
          });
        })
        .catch((err) => {
          return this.$message.info('取消了删除!');
        });
    },
    // 三级删除
    threeDel(item, id) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      })
        .then(() => {
          delAssignRoles({
            roleId: item.id,
            rids: id,
          }).then((res) => {
            item.children = res.data; // 更新res.data和children里面得数据
          });
          this.$message({
            type: 'success',
            message: '删除成功!',
          });
        })
        .catch((err) => {
          return this.$message.info('取消了删除!');
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.roles-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
  .right-box {
    margin-top: 20px;
    padding: 20px;
    .right-table {
      margin-top: 20px;
    }
  }
}
.children-box {
  padding: 20px 50px;
  .children-list {
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    .children-one {
    }
    .children-three {
      margin: 10px;
    }
    .children-two {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      .three-box {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
.title-del {
  display: flex;
}
.icon-error {
  display: block;
  padding-right: 80px;
}
.title-text {
  margin-left: 40px;
  margin-top: 15px;
}
</style>
