<template>
  <div class="">
    <div class="users-box">
      <header>
        <!-- 面包屑导航区域 -->
        <el-breadcrumb separator-class="el-icon-arrow-right" class="header-title">
          <el-breadcrumb-item :to="{ path: '/MyStart' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item>用户管理</el-breadcrumb-item>
          <el-breadcrumb-item>用户列表</el-breadcrumb-item>
        </el-breadcrumb>
      </header>

      <!-- 列表 -->
      <div class="tablet-list">
        <div style="margin-top: 15px;">
          <el-input placeholder="请输入内容" class="input-with-select search" v-model="query" clearable @clear="getuserList">
            <el-button slot="append" icon="el-icon-search" @click="getuserList"></el-button>
          </el-input>
          <!-- 模态框 -->
          <el-button type="primary" @click="dialogVisible = true" class="addbtn">添加用户</el-button>
        </div>
        <!-- 添加用户模态框 -->
        <el-dialog title="添加用户" :visible.sync="dialogVisible" width="50%" @close="clsFrom">
          <!-- 表单 -->
          <el-form :model="ruleForm" :rules="addFormRules" ref="addFormRef" label-width="100px" class="demo-ruleForm">
            <el-form-item label="用户名" prop="username">
              <el-input v-model="ruleForm.username"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password"> <el-input v-model="ruleForm.password" type="password"></el-input> </el-form-item
            ><el-form-item label="邮箱" prop="email">
              <el-input v-model="ruleForm.email"></el-input>
            </el-form-item>
            <el-form-item label="手机号" prop="mobile">
              <el-input v-model.number="ruleForm.mobile" />
            </el-form-item>
            <el-form-item class="addModel-btn">
              <el-button @click="dialogVisible = false">取消</el-button>
              <el-button type="primary" @click="addForm('ruleForm')">确定</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
        <!-- 表格 -->
        <el-table :data="usersData" stripe style="width: 97%" border class="userTable">
          <el-table-column label="#" width="50" type="index"> </el-table-column>
          <el-table-column prop="username" label="姓名" width="180"> </el-table-column>
          <el-table-column prop="email" label="邮箱"> </el-table-column>
          <el-table-column prop="mobile" label="电话"> </el-table-column>
          <el-table-column prop="role_name" label="角色"> </el-table-column>
          <el-table-column label="状态">
            <template slot-scope="scope">
              <el-switch v-model="scope.row.mg_state" @change="editStatus(scope.row)"> </el-switch>
            </template>
          </el-table-column>
          <!-- 按钮修改组 -->
          <el-table-column prop="address" label="操作">
            <template slot-scope="scope">
              <!-- 编辑 -->
              <el-button type="primary" icon="el-icon-edit" size="mini" @click="lookedit(scope.row.id)"></el-button>
              <!-- 编辑的表单模态框 -->
              <el-dialog title="修改用户" :visible.sync="editmodel" width="50%">
                <el-form :rules="editFormRules" :model="editObj" label-width="100px" class="demo-ruleForm" ref="editform">
                  <el-form-item label="用户名">
                    <el-input v-model="editObj.username" :disabled="true"></el-input>
                  </el-form-item>
                  <el-form-item label="邮箱" prop="email">
                    <el-input v-model="editObj.email"></el-input>
                  </el-form-item>
                  <el-form-item label="手机号" prop="mobile">
                    <el-input v-model="editObj.mobile"></el-input>
                  </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                  <el-button @click="editmodel = false">取 消</el-button>
                  <el-button type="primary" @click="editform(scope.row.id)">确 定</el-button>
                </span>
              </el-dialog>
              &nbsp;
              <!-- 删除 -->
              <el-button type="danger" icon="el-icon-delete" size="mini" @click="delmodel = true"></el-button>

              <el-dialog title="提示" :visible.sync="delmodel" width="30%" class="title-model-del">
                <div class="title-del">
                  <div>
                    <i class="el-message-box__status el-icon-warning icon-error"></i>
                  </div>
                  <div class="title-text">
                    此操作将永久删除该用户信息, 是否继续?
                  </div>
                </div>

                <span slot="footer" class="dialog-footer">
                  <el-button @click="delmodel = false">取 消</el-button>
                  <el-button type="primary" @click="del(scope.row)">确 定</el-button>
                </span>
              </el-dialog>
              &nbsp;
              <!-- 设置 -->
              <el-button type="warning" icon="el-icon-setting" size="mini" @click="setroleModel(scope.row)"></el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <el-pagination
          @current-change="changePage"
          @size-change="sizeChange"
          :current-page="pagenum"
          :page-sizes="[3, 5, 10]"
          :page-size="pagesize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total"
          background
          class="page"
        >
        </el-pagination>

        <!-- 分配角色模态框 -->
        <el-dialog title="分配角色" :visible.sync="setroleMole" width="40%">
          <el-form :model="roleObj">
            <el-form-item label="当前用户" label-width="120">: {{ roleObj.username }} </el-form-item>
            <el-form-item label="当前用户" label-width="120">:{{ roleObj.role_name }} </el-form-item>
            <el-form-item label="分配新角色" label-width="120">
              <el-select v-model="RoleId" placeholder="请选择">
                <el-option v-for="item in roleArr" :key="item.id" :label="item.roleName" :value="item.id"> </el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="setroleMole = false">取 消</el-button>
            <el-button type="primary" @click="setrole">确 定</el-button>
          </div>
        </el-dialog>
      </div>
    </div>
  </div>
</template>

<script>
// 接口
import { myusers, addUsers, delUsers, editUsers, lookUsers, editStatus, allRoles, setRoles } from '@/api';
// 正则
import { isvalidPhone } from '@/regular';
export default {
  name: '',
  data() {
    // 自定义一个手机的验证
    var checkEmail = (rule, value, cb) => {
      const regEmail = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
      if (regEmail.test(value)) {
        return cb();
      }
      cb(new Error('请输入合法邮箱'));
    };
    var checkPhone = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('手机号不能为空'));
      } else {
        const reg = /^1[3|4|5|7|8][0-9]\d{8}$/;
        if (reg.test(value)) {
          callback();
        } else {
          return callback(new Error('请输入正确的手机号'));
        }
      }
    };
    return {
      query: '', //路由传参 搜索
      pagenum: 1, //路由传参 分页
      pagesize: 5, //路由传参 分页
      total: 0, // 总条数  分页
      usersData: [], // 接收用户列表数据
      dialogVisible: false, //是否显示模态框
      delmodel: false, //删除的模态框
      editmodel: false, //控制修改的模态框
      setroleMole: false, // 设置角色的模态框
      //表单元素
      ruleForm: {
        username: '',
        password: '',
        email: '',
        mobile: '',
      },
      // 表单验证
      addFormRules: {
        username: [
          { required: true, message: '请输入用户名', trigger: 'blur' },
          {
            min: 3,
            max: 10,
            message: '用户名的长度在3-10',
            trigger: 'blur',
          },
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          {
            min: 3,
            max: 20,
            message: '密码的长度在3-20',
            trigger: 'blur',
          },
        ],
        email: [
          { required: true, message: '请输入邮箱', trigger: 'blur' },
          {
            min: 6,
            max: 28,
            message: '邮箱的长度在6-28',
            trigger: 'blur',
          },
          { validator: checkEmail, trigger: 'blur' },
        ],
        mobile: [
          { required: true, message: '请输入电话号码', trigger: 'blur' },
          { validator: checkPhone, trigger: 'blur' },
        ],
      },
      // 编辑
      editFormRules: {
        email: [
          { required: true, message: '请输入邮箱', trigger: 'blur' },
          { validator: checkEmail, trigger: 'blur' },
        ],
        mobile: [
          { required: true, message: '请输入电话号码', trigger: 'blur' },
          { validator: checkPhone, trigger: 'blur' },
        ],
      },

      // 编辑的表单元素
      editObj: {},
      // 分配角色对象
      roleObj: {},
      // 所有角色的数据
      roleArr: [],
      // 已经选中的id
      RoleId: '',
    };
  },
  mounted() {
    // 调用请求接口
    this.getuserList();
    // 获取所有角色
    allRoles().then((res) => {
      this.roleArr = res.data;
    });
  },
  components: {},
  computed: {},
  methods: {
    // 分页
    changePage(val) {
      this.pagenum = val;
      this.getuserList();
    },
    // 下面点击的分页
    sizeChange(num) {
      this.pagesize = num;
      this.getuserList();
    },
    // 请求列表数据
    getuserList() {
      myusers({
        query: this.query,
        pagenum: this.pagenum,
        pagesize: this.pagesize,
      }).then((res) => {
        this.usersData = res.data.users;
        this.total = res.data.total;
        this.$message({
          message: '获取用户数据成功',
          type: 'success',
        });
      });
    },
    // 添加用户
    addForm() {
      this.$refs.addFormRef.validate((valid) => {
        if (valid) {
          // let newObj = {
          //   email: this.ruleForm.myemail,
          //   mobile: this.ruleForm.myphone,
          //   username: this.ruleForm.username,
          //   password: this.ruleForm.password,
          // };
          addUsers(this.ruleForm).then((res) => {
            this.getuserList();
            this.$message({
              message: '添加用户成功',
              type: 'success',
            });
            this.dialogVisible = false;
          });
        }
      });
    },
    // 清空表单
    clsFrom() {
      this.$refs.addFormRef.resetFields();
    },
    // 是否删除
    del(id) {
      if (id.mg_state === true) {
        this.$message({
          message: '不可删除',
          type: 'error',
        });
        this.delmodel = false;
        return false;
      }
      if (id.mg_state === false) {
        delUsers({ id: id.id }).then((res) => {
          this.getuserList();
          this.$message({
            message: '删除用户成功',
            type: 'success',
          });
          this.delmodel = false;
        });
      }
    },
    // 查看用户信息
    lookedit(id) {
      lookUsers({
        id: id,
      }).then((res) => {
        this.editObj = res.data;
        this.editmodel = true;
      });
    },
    // 确定编辑
    editform() {
      this.$refs.editform.validate((valid) => {
        if (valid) {
          editUsers({
            id: this.editObj.id,
            email: this.editObj.email,
            mobile: this.editObj.mobile,
          }).then((res) => {
            if (res.meta.status != 200) {
              this.$message({
                message: '编辑失败',
                type: 'error',
              });
            }
            this.editmodel = false;
            this.getuserList();
            this.$message({
              message: res.meta.msg,
              type: 'success',
            });
          });
        }
      });
    },
    // 修改用户状态
    editStatus(item) {
      editStatus(item).then((res) => {
        if (res.meta.status !== 200) {
          item.mg_state = !item.mg_state;
          return this.$message({
            message: '更新失败',
            type: 'error',
          });
        }

        this.$message({
          message: res.meta.msg,
          type: 'success',
        });
      });
    },
    // 打开模态框 并获取数据
    setroleModel(item) {
      console.log(item);
      this.roleObj = item; //数据渲染
      this.setroleMole = true; // 打开模态框
    },

    // 分配角色
    setrole() {
      // 判断锁定为后不可分配
      if (this.roleObj.mg_state === true) {
        this.$message({
          message: '不可分配角色',
          type: 'error',
        });
        this.setroleMole = false;
        return false;
      }
      // 没锁定分配
      if (this.roleObj.mg_state === false) {
        setRoles({ id: this.roleObj.id, rid: this.RoleId }).then((res) => {
          this.getuserList(); //调用接口
          this.setroleMole = false; // 关闭模态框
          this.$message({
            message: res.meta.msg,
            type: 'success',
          });
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  .header-title {
  }
}
.users-box {
  height: calc(100vh - 60px);
  background-color: #eaedf1;
  padding: 20px;
}
.tablet-list {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;
  .search {
    width: 390px;
  }
}
.userTable {
  margin-top: 15px;
}
.page {
  margin-top: 15px;
}
.addbtn {
  margin-left: 15px;
}
.addModel-btn {
  margin-left: 469px;
}
.title-del {
  display: flex;
}
.icon-error {
  display: block;
  padding-right: 80px;
}
.title-text {
  margin-left: 40px;
  margin-top: 15px;
}
.title-model-del {
}
</style>
